@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 1920px;
}

@layer utilities {
  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
  }

  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popper-content-available-height);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility max-container {
  @apply mx-auto w-full max-w-[1920px];
}
