@import "tailwindcss";
@import "tw-animate-css";

@import "./themes.css";
@import "./base.css";

@custom-variant dark (&:is(.dark *));

/* Grid Pattern Background */
.bg-grid-pattern {
  background-image: linear-gradient(
      to right,
      hsl(var(--border)) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
  background-size: 20px 20px;
}
